body {
    font-family: 'Fira Sans', sans-serif;
    background-color: #fdf6e3;
    color: rgb(101, 123, 131);
}

.container {
    max-width: 1024px;
    margin: 0 auto;
}

h1, h2, h3, h4, h5, h6 {
    text-align: center;
}

.devices thead td {
    text-align: center;
    font-weight: bold;
}

.devices td {
    border: 1px solid black;
    padding: 2px 5px;
}

.devices {
    border-collapse: collapse;
    margin: 20px auto;
}

.devices td.numeric {
    text-align: right;
}

.devices td.check {
    text-align: center;
}

a {
    color: rgb(181, 137, 0);
}