<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="icon" type="image/png" href="{{ url_for('static', filename='img/logo.png') }}" />
    <title>Измерители толщины</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/main.css') }}">
</head>
<body>
    <div class="container">
        <p>Привет!</p>
        <p>Мы -- 4 долбаёба. У нас есть айфон, сони, самсунг, хтц, блютуз-колонка принглз и несквик-спиннер!</p>
        <p>Зацени нашу базу данных и угори с неё: <a href="/shenka">booga.ga/shenka</a></p>
    </div>
</body>
</html>