{% extends "layout.html" %}

{% block head %}
<title>Бугага!</title>
{% endblock %}

{% block content %}
  <div class="container"> <!--Добавить дракона из символов в комментариях-->
    <h1>Бугага!</h1>
    
    <h3 class="status">Как 2 байта отослать!</h3>
    
    <p>Привет!</p>

    <p>Мы -- 4 <s>долбаёба</s> слегка самокритичных чувака. У нас есть айфон, сони, самсунг, хтц, блютуз-колонка принглз и несквик-спиннер!</p>

    <p>Зацени нашу базу данных и угори с неё: <a href="/shenka" title="База данных по измерителям толщины">booga.ga/shenka</a></p>

    <h2>Зачем надо было делать этот сайт?</h2>
    <p>Потому что мы можем.</p>

    <h2>Другие наши проекты</h2>
      <dl>
        <dt><a href="https://freecx.github.io" title="Кодим с Лёхой">Кодерный понедельник</a></dt>
        <dd>Блог о программировании и не только</dd>
        
        <dt><a href="https://github.com/ceilors/book-of-the-idea-out/releases/download/nobody/book_of_the_idea_out.pdf" 
               title="Книжная пародия">Мысли</a></dt>
        <dd>Эта книга о том, как не стоит писать хорошие книги. Только треш, угар и содомия, только хардкор.</dd>
        
        <dt><a href="http://antoniii.github.io/" title="Один из первых совместных проектов">100 идей для стартапа</a></dt>
        <dd>Лучшие способы потратить своё время <s>с пользой</s>.</dd>
        
        <dt><a href="https://ru.sharelatex.com/project/58285dc0dcf62380011eb003" 
               title="Математическая ветка">Tony&amp;Johnny</a></dt> <!--Вов, закинь туда статью про Фурье, если осталась. Если не осталась, то напиши, но всё равно закинь -->
        <dd>Немного математических и физических измышлений.</dd>
      </dl>
    <h2>Контакты</h2>
      <ul>
        <li><a href="https://twitter.com/johnnyabdrams">Читайте Вову</a></li>
        
        <li><a href="https://t.me/aomadhfianais">Внимайте коллективному бессознательному</a></li>
        
        <li><a href="https://www.youtube.com/channel/UCi4ksAhDSM0yDzUGI1b1DjA">Смотрите Илюху</a></li>
      </ul>
  </div>
{% endblock %}
