{% extends "layout.html" %}
{% block content %}
  <div class="container"> <!--Название страницы/<title> надо поменять. И добавить дракона из символов в комментариях-->
    <p>Привет!</p>
    <p>Мы -- 4 <s>долбаёба</s> слегка самокритичных чувака. У нас есть айфон, сони, самсунг, хтц, блютуз-колонка принглз и несквик-спиннер!</p>
    <p>Зацени нашу базу данных и угори с неё: <a href="/shenka">booga.ga/shenka</a></p>
    <p>Зачем делать этот сайт?</p>
    <p>Потому что мы можем.</p>
    <p>Другие наши проекты:</p>
      <dl>
        <dt><a href="https://freecx.github.io" title="Кодим с Лёхой">Кодерный понедельник</a></dt>
        
        <dt><a href="https://github.com/ceilors/book-of-the-idea-out/releases/download/nobody/book_of_the_idea_out.pdf" 
               title="Книжная пародия">Мысли</a></dt>
        <dd>Эта книга о том, как не стоит писать хорошие книги. Только треш, угар и содомия, только хардкор.</dd>
        
        <dt><a href="http://antoniii.github.io/" title="Один из первых совместных проектов">100 идей для стартапа</a></dt>
        <dd>Лучшие способы потратить своё время <s>с пользой</s>.</dd>
        
        <dt><a href="https://ru.sharelatex.com/project/58285dc0dcf62380011eb003" 
               title="Математическая ветка">Tony&amp;Johnny</a></dt> <!--Вов, закинь туда статью про Фурье, если осталась.
                                                                  Если не осталась, то напиши, но всё равно закинь -->
        <dd>Немного математических и физических измышлений.</dd>
      </dl>
    <p>Контакты:</p>
      <ul>
        <li><a href="https://twitter.com/johnnyabdrams" title="Читайте Вову">twitter-канал</a></li>
        
        <li><a href="https://t.me/aomadhfianais" title="Нечитаемое название">telegram-канал</a></li>
        
        <li><a href="https://www.youtube.com/channel/UCi4ksAhDSM0yDzUGI1b1DjA" title="Смотрите видосы с Илюхой">youtube-канал</a></li>
      </ul>
  </div>
{% endblock %}
